$navyblue: #81b3d2;

$grey: #eeeeee;

$fsz-bigtitle: 21px;

$fsz-tablettitle: 30px;

$fsz-title: 18px;

$fsz-input: 12px;

$fsz-nav: 14px;

$text-color: #333333;

$tablet-width: "(min-width: 768px)";

$desktop-width: "(min-width: 1200px)";

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
