.find-hotel {
  min-height: 285px;
}

.find-hotel__title {
  margin: 0px;
  padding-top: 28px;
  padding-bottom: 21px;
  font-size: $fsz-bigtitle;
  text-align: center;
}

.find-hotel__text {
  width: 260px;
  padding-bottom: 13px;
  margin: 0 auto;
  color: $text-color;
  text-align: center;
  line-height: 1.7;
}

.find-hotel__btn {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  font-size: $fsz-bigtitle;
  font-weight: bold;
  background-color: $navyblue;
  color: #fff;
  line-height: 2.5;
  text-align: center;

}


@media #{$tablet-width} {

.find-hotel {
  min-height: 285px;
  margin-bottom: 58px;
}

.find-hotel__title {
  padding-top: 80px;
  padding-bottom: 26px;
  font-size: $fsz-tablettitle;
  }

.find-hotel__text {
  width: 437px;
  padding-bottom: 43px;
}

.find-hotel__btn {
  width: 458px;
}
}


@media #{$desktop-width} {

.find-hotel {
 padding-top: 11px;
}

.find-hotel__title {
  padding-top: 88px;
}

.find-hotel__text {
  width: 316px;
  padding-bottom: 27px;
}

.find-hotel__btn {
  margin-bottom: 65px;
}
}
