
.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-left: -33px;
}

.social-link {
  width: 42px;
  height: 48px;
  margin-left: 7px;
  background-color: $navyblue;
}

.social-link__icon {
  padding-left: 12px;
  padding-top: 15px;
}


@media #{$tablet-width} {
.social-links {
    margin-top: 27px;
    margin-left: -34px;
}
}


@media #{$desktop-width} {

.social-links {
  margin-top: 27px;
}

.social-link {
  margin-left: 11px;
}
}



